*{
    margin: 0;
    padding: 0;
}

/* 总----------体 */
.Starting{
    width: 1200px;
    height: 230px;
    margin: 0 auto;
    background: url(./original.jpg)no-repeat -250px 0px;
    background-size: 1500px 230px;
    position: relative;
}

/* 动----------画 */
.cartoon{
    width: 350px;
    height: 230px;
    /* background-color: rgb(226, 192, 241); */
    margin-left: 680px;
}
.cartoon>h1{
    font-weight: 400;
    font-size: 25px;
    color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
}
.cartoon>ul{
    position: absolute;
    list-style: none;
    margin-left: 65px;
    margin-top: 70px;
}
.cartoon>ul li{
    float: left;
    margin-left: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    padding: 5px 5px;
}

/* 倒计----------时 */
#countDown{
    position: absolute;
    margin-top: 120px;
    margin-left: 58px;
    color: white;
}

/* 申----------请 */
.applyFor{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgb(254,83,65);
    margin-top: 160px;
    margin-left: 75px;
}
.applyFor:focus{
    outline: medium;
}