*{
    margin: 0;
    padding: 0;
}
.box{
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

/* 主----------体 */
.main_{
    position: absolute;
}

/* 总-----体 */
.totality{
    width: 1400px;
    background-color: aqua;
}


/* 文字---描述 */
.titlelen{
    width: 1200px;
    height: 60px;
    background-color: lavender;
    /* position: absolute; */
    margin: 0 auto;
}

/* 报告--精选 */
.front{
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
}