*{
    margin: 0;
    padding: 0;
}
.business_box{
    width: 1400px;
    height: 2100px;
    border-top: 1px solid rgba(68, 68, 68, 0.233);
    margin: 0 auto;
    padding: 50px 260px;
    position: relative;
}
.business_left{
    width: 280px;
    height: 300px;
    position: absolute;
    left: 380px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px;
}
.business_left ul{
    list-style: none;
    margin: 15px ;
}
a{
    text-decoration: none;
}
.business_left p{
    color: rgb(31, 31, 31);
    font-size: 20px;
    font-weight: 600;
    text-indent: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    padding: 5px 0;
}
.business_left ul span a{
    color: rgba(47, 47, 47, 0.822);
    font-weight: 600;
    font-size: 16px;
    margin: 5px 18px;
}
.business_left ul a{
    color: rgba(97, 97, 97, 0.863);
    font-size: 16px;
    margin: 5px 35px;
}

.business_right{
    width: 880px;
}

.business_right{
    border-radius: 5px;
    position: absolute;
    margin-left: 420px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 5px 55px;
    font-size: 16px;
}

.grawBg h2{
    color: rgb(31, 31, 31);
    padding: 20px 0px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}

.grawBg h3{
    font-weight: 600;
    color: rgba(31, 31, 31, 0.712);
    padding: 20px 0px 5px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.39); */
}
.grawBg p{
    color: rgba(31, 31, 31, 0.609);
    padding: 15px 0px 1px;
}

.grawBg h5{
    font-size: 22px;
    font-weight: 600;
    color: rgba(31, 31, 31, 0.863);
    padding: 20px 0px 5px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.39); */
}